Repository arrai-innovations/circleci-orbs: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --no-install doctoc --github -u ., npx --no-install prettier --write, scripts/validate_orbs

docs: instruct user to install circleci cli tool when developing orbs
  README.md
Due: npx --no-install doctoc --github -u ., npx --no-install prettier --write

chore: bump husky to the latest release
  package-lock.json
  package.json
Due: npx --no-install prettier --write

refactor: switch husky install to a 'prepare' lifecycle script and remove pinst.
  package-lock.json
  package.json
Due: npx --no-install prettier --write

chore: remove is-ci; this is no longer needed
  package-lock.json
  package.json
Due: npx --no-install prettier --write

chore: bump lint-staged to the latest release
  package-lock.json
  package.json
Due: npx --no-install prettier --write

chore: bump doctoc to the latest release
  package-lock.json
  package.json
Due: npx --no-install prettier --write

chore: bump commitlint to the latest release
  package-lock.json
  package.json
Due: npx --no-install prettier --write

chore: bump prettier to the latest release
  package-lock.json
  package.json
Due: npx --no-install prettier --write

refactor(wip): have the utils orb take care of the rsync binary install
  orbs/badass.yml
  orbs/utils.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

chore: remove vestigial generate-hash function; it's no longer used
  orbs/badass.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: use sudo to install
  orbs/utils.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

chore(wip): bump utils version
  orbs/badass.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

chore: bump utils version
  orbs/badass.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

feat: also store test results in non-spread badass tests.
  orbs/badass.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

feat: add cache busting to the safety orb
  orbs/safety.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

chore: remove non-functional & deprecated deepcode orb
  README.md
  orbs/deepcode.yml
Due: npx --no-install doctoc --github -u ., npx --no-install prettier --write, scripts/validate_orbs

feat: allow spaces in remote folder names when rsyncing
  orbs/utils.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

feat: convert spaces and dashes to undescores and double dashes, respectively, when generating status icons.
  orbs/utils.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: make sure that the included link is properly url encoded
  orbs/utils.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: blow away extraneous packages before installing
  orbs/badass.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: address issue #70 by using npm ci when no prettier version is given
  orbs/prettier.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: sudo isn't required on npm ci
  orbs/prettier.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: set up npm auth token
  orbs/prettier.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: make resource_class mandatory
  orbs/badass.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: include project name in release string to stop sentry clobbering releases
  orbs/sentry.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

chore: bump to latest nodejs releases
  orbs/eslint.yml
  orbs/npm.yml
  orbs/prettier.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

install latest eslint only if not in dev deps already.
  orbs/eslint.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: also stop calling the removed step.
  orbs/eslint.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: add pipenv cache busting
  orbs/pytest.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

chore: bump included utils orb version
  orbs/pytest.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix(security): bump yaml to address CVE-2023-2251
  package-lock.json
Due: npx --no-install prettier --write

feat: add some additional config steps on some jobs missing it.
  orbs/npm.yml
  orbs/prettier.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: missed using the new param.
  orbs/npm.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

feat: add ability to post and update github status to our repos that are not the running repo.
  orbs/github.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

wip: improved chance of working.
  orbs/github.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: dont clobber builtin params.
  orbs/github.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: quoting.
  orbs/github.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

wip: debugging.
  orbs/github.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

wip: remove debugging.
  orbs/github.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

Path conditions:
  npx --no-install doctoc --github -u .: any of: **/*.{markdown,md}
  npx --no-install prettier --write: any of: **/*.{js,ts,jsx,tsx,less,scss,css,vue,markdown,json,md,yml,yaml}
  scripts/validate_orbs: any of: orbs/*.{yml,yaml}
