Repository arrai-innovations/circleci-orbs: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --no-install doctoc --github -u ., npx --no-install prettier --write, scripts/validate_orbs

fix: only add ssh config when creating badges
  orbs/npm.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

chore: bump node releases
  orbs/eslint.yml
  orbs/npm.yml
  orbs/prettier.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix(security): bump semver
  package-lock.json
Due: npx --no-install prettier --write

feat: allow the installed npm version to be specified
  orbs/npm.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

feat: allow the use of CA signed host keys when configuring the ssh client
  orbs/utils.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

chore: bump utils orb to the latest release
  orbs/badass.yml
  orbs/eslint.yml
  orbs/flake8.yml
  orbs/npm.yml
  orbs/prettier.yml
  orbs/pytest.yml
  orbs/safety.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

chore: remove maxmind/geoip config; settings can now be passed via env vars.
  orbs/badass.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

chore: align python versions with current upstream support matrix
  orbs/flake8.yml
  orbs/pytest.yml
  orbs/safety.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

chore: have preset executors for lts & current node only; let users deal with other versions
  orbs/eslint.yml
  orbs/npm.yml
  orbs/prettier.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

chore: remove invalid badge styles
  orbs/utils.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

docs: add orb version badges
  README.md
Due: npx --no-install doctoc --github -u ., npx --no-install prettier --write

docs: sort sections correctly
  README.md
Due: npx --no-install doctoc --github -u ., npx --no-install prettier --write

docs: move badges
  README.md
Due: npx --no-install doctoc --github -u ., npx --no-install prettier --write

docs: fix section order
  README.md
Due: npx --no-install doctoc --github -u ., npx --no-install prettier --write

docs: add links to badges
  README.md
Due: npx --no-install doctoc --github -u ., npx --no-install prettier --write

feat: move the 'upgrade_npm' command into utils and de-dupe
  orbs/badass.yml
  orbs/eslint.yml
  orbs/flake8.yml
  orbs/npm.yml
  orbs/prettier.yml
  orbs/pytest.yml
  orbs/safety.yml
  orbs/utils.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

chore: bump utils orb to the latest patch level
  orbs/badass.yml
  orbs/eslint.yml
  orbs/flake8.yml
  orbs/npm.yml
  orbs/prettier.yml
  orbs/pytest.yml
  orbs/safety.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

docs: add missing blurb and link to the 'safety' orb
  README.md
Due: npx --no-install doctoc --github -u ., npx --no-install prettier --write

docs: fix text formatting
  README.md
Due: npx --no-install doctoc --github -u ., npx --no-install prettier --write

feat: use the python version in cache-key generation
  orbs/flake8.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

chore: optimize pipenv install
  orbs/pytest.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: make rsync_install respect the when parameter
  orbs/utils.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

chore: bump utils orb to latest release
  orbs/badass.yml
  orbs/eslint.yml
  orbs/flake8.yml
  orbs/npm.yml
  orbs/prettier.yml
  orbs/pytest.yml
  orbs/safety.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

chore: always add the ssh config
  orbs/utils.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: use the correct hostname
  orbs/eslint.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

feat: run npm install before lintint; in case the user wants to use a package locked version of eslint
  orbs/eslint.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: run pipenv clean to remove extraneous packages
  orbs/flake8.yml
  orbs/pytest.yml
  orbs/safety.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

feat: add vueda orb.
  README.md
  orbs/vueda.yml
Due: npx --no-install doctoc --github -u ., npx --no-install prettier --write, scripts/validate_orbs

feat: add 'build' deploy type for artifact-based deployment.
  orbs/vueda.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

refactor: expose sentry job insides as commands, drop unused setup param.
  orbs/sentry.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

docs(fix): missing urls
  README.md
Due: npx --no-install doctoc --github -u ., npx --no-install prettier --write

refactor: make github orb functionality additionally available as commands.
  orbs/github.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: re-add removed default param.
  orbs/github.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: restore github orb releases ability to have attached files...
  orbs/github.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

refactor: use param alias to keep jobs and commands consistant, restore files/notes logic.
  orbs/github.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: prefer cmd/job name overloading, as they are intended to be intercchangeable.
  orbs/sentry.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

fix: sudo required.
  orbs/vueda.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

refactor: provide commands in addition to jobs from npm orb.
  orbs/npm.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

feat: add command to install dockerize
  orbs/utils.yml
Due: npx --no-install prettier --write, scripts/validate_orbs

Path conditions:
  npx --no-install doctoc --github -u .: any of: **/*.{markdown,md}
  npx --no-install prettier --write: any of: **/*.{js,ts,jsx,tsx,less,scss,css,vue,markdown,json,md,yml,yaml}
  scripts/validate_orbs: any of: orbs/*.{yml,yaml}
